root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*.{md,rst}]
insert_final_newline = false

[*.yml]
indent_size = 2
indent_style = space
insert_final_newline = false

[*.py]
indent_size = 4
indent_style = space
