name: Github Pages

on:
  push:
    branches:
      - main

    paths-ignore:
      - ".vscode/**"
      - ".git*"
      - "README.md"
      - "LICENSE"
      - ".editorconfig"
      - ".dockerignore"
      - "Dockerfile"
      - ".github/workflows/codeql-analysis.yml"
      - ".github/workflows/publish-docker.yml"
      - ".github/workflows/release.yml"

  pull_request:
    branches:
      - main

    paths-ignore:
      - ".vscode/**"
      - ".git*"
      - "README.md"
      - "LICENSE"
      - ".editorconfig"
      - ".dockerignore"
      - "Dockerfile"
      - ".github/workflows/codeql-analysis.yml"
      - ".github/workflows/publish-docker.yml"
      - ".github/workflows/release.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Setup python
        uses: actions/setup-python@v2.3.2
        with:
          python-version: "3.6"

      - name: Upgrade pip
        run: |
          python3 -m pip install --upgrade pip

      - name: Get pip cache directory
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v2.1.7
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: python3 -m pip install -r ./requirements-dev.txt

      - name: Build documentation
        run: |
          cd docs
          make html
          rm build/html/.buildinfo build/html/objects.inv

      - name: Deploy
        if: github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v3.7.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: docs/build/html
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
